@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: TTF;
  src: url(../tt_fors/TT\ Fors\ Trial\ Regular.ttf);
  }


  @font-face{
    font-family: TTFBold;
    src: url(../tt_fors/TT\ Fors\ Trial\ Bold.ttf);
    }

    @font-face{
      font-family: TTFBoldExtra;
      src: url(../tt_fors/TT\ Fors\ Trial\ ExtraBold.ttf);
      }
  
  body{
    overflow-x: hidden;
  }